<form class="reset-form" [formGroup]="birthdayForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="form-group">
        <label for="birthday">Date of birth</label>
        <input
          type="date"
          id="birthday"
          class="form-control"
          formControlName="birthday"
        />
        <span
          *ngIf="
            birthdayForm.get('birthday')?.touched &&
            birthdayForm.get('birthday')?.invalid
          "
          >Please provide your birthday</span
        >
        <div
          *ngIf="isTooYoung"
          class="alert alert-warning"
          role="alert"
          data-test="warning"
        >
          Under 18, you cannot reset the counter
        </div>
      </div>
    </div>
  </div>
  <button
    class="btn btn-primary"
    type="submit"
    [disabled]="birthdayForm.invalid"
  >
    Validation
  </button>
</form>
